html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body,textarea,input,button,select,keygen,legend{font:14px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  color: #333;
}
html, body{
	font-family: 'Roboto Slab',  microsoft yahei, Tahoma, hiragino sans gb, sans-serif;
}
/* 清除浮动 */
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
/* iconfont初始化 */
.icon {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
/*--header start here--*/
.header{
	padding:1em 0px;
}
.logo{
	float:left;
	cursor:pointer;
}
.navg{
	float:right;
}
.navg ul{
	list-style:none;
	padding:0px;
}
.navg ul li{
	display:inline-block;
	margin:15px 0px 0px 0px;
}
.navg ul li a{
	font-size:15px;
	font-weight:400;
	color: #000;
	padding:10px 12px;
	border-radius: 3px;
}
.navg ul li a:hover,.navg ul li a.active{
	color: #fff;
	text-decoration: none;
	background: #20a0ff;
	padding: 10px 12px;
 transition: 0.5s all;
 -webkit-transition: 0.5s all;
 -moz-transition:  0.5s all;
 -o-transition:  0.5s all;
}
span.menu {
	display: none;
}
/*--header end here--*/
/*--banner style start here--*/
.banner{
	background:url(../img/banner.jpg);
	min-height:550px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cove
}
.banner-main {
	text-align: center;
	padding-top:12em;
}
.banner-main h1{
	font-size: 3em;
	font-weight: 700;
	color: #fff;
}
.banner-main p{
	font-size: 1.5em;
	font-weight: 300;
	color: #fff;
	font-family: 'Roboto Slab', serif;
}
.bwn{
	margin-top:3em;
}
.bwn a {
	font-size: 25px;
	font-weight: 700;
	color: #46A651;
	padding: 14px 2em;
	border: none;
	background: #fff;
	border-radius: 30px;
	cursor: pointer;
}
.bwn a:hover{
	color:#fff;
	text-decoration:none;
	background: rgb(169, 77, 77);
	transition: 0.5s all;
 -webkit-transition: 0.5s all;
 -moz-transition:  0.5s all;
 -o-transition:  0.5s all;
}


.footer {
  padding: 16px;
  text-align: center;
  color: #888888;
}
.footer p {
  line-height: 2;
}
.footer-desc a {
  color: #888;
  font-weight: bold;
  transition: .3s;
}
.footer-desc a:hover {
  color: #20a0ff;
}
.main {
	padding: 10px;
	padding-top: 30px;
}
.main .container {
  width: 1000px;
  margin: 0 auto;
}
.carousel {
	width: 630px;
	height: 300px;
	float: left;
	overflow: hidden;
	position: relative;
}
.carousel .img-ct {
	position: absolute;
	overflow: hidden;
}
.carousel .img-ct img{
	position: relative;
	width: 630px;
	height: 300px;
}
.carousel .img-ct>li {
	float: left;
}
.carousel .arrow{
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 26px;
	border-radius: 30px;
	border: 2px solid #fff;
	background-color: rgba(6, 6, 6, .4);
	color: #fff;
	top: 50%;
	margin-top: -15px;
	text-align: center;
}
.carousel .arrow:hover{
	opacity: .8;
	text-decoration: none;
}
.carousel .pre {
	left: 10px;
}
.carousel .next{
	right: 10px;
}
.carousel .bullet {
	width: 100%;;
	position: absolute;
	bottom: 10px;
	text-align: center;
	font-size: 0;
}
.carousel .bullet li{
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	border-radius: 10px;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;  
}
.carousel .bullet li.active{
	background-color: #20a0ff;
}
.extra {
	background-image: url(../img/moneyNum.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	opacity: .8;
	width: 320px;
	height: 300px;
	float: right;
	box-sizing: border-box;
}
.extra .moneyNum {
	height: 300px;
	padding: 50px 30px;
	width: 320px;
	font-family: "微软雅黑", "黑体";
	color: rgba(24, 23, 23, 0.856);
	font-weight: bold;
}
.extra .moneyNum>h2{
	font-size: 16px;
	margin-bottom: 5px;
	height: 36px;
	line-height: 36px;
}
.extra .moneyNum>span {
	background: url(http://mat1.gtimg.com/gongyi/index_inc2012/numbox_bg.png) no-repeat;
	color: #20a0ff;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	height: 46px;
	line-height: 46px;
	margin-right: 10px;
	padding-right: 14px;
	text-align: right;
	width: 210px;
	font-weight: normal;
	opacity: .85;
}
.extra .moneyNum>p{
	margin-top: 60px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
.main-info {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding: 0 15px;
}
.main-info .info-left {
	width: 650px;
	float: left;
	display: flex;
	justify-content: space-between;
}
.main-info .info-left>h2 {
	font-size: 20px;
	border-left: 4px solid #46A651; 
	padding-left: 5px;
}
.main-info .info-left .more {
	padding-right: 20px;
	line-height: 20px;
}
.main-info .info-right {
	width: 320px;
	float: right;
}
.main-info .info-right .launch {
	margin-bottom: 20px;
	width: 100%;
	float: left;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	padding: 6px 5px 20px;
	border-bottom: 2px solid #ccc;
}
.info-right .launch>a{
	padding: 5px 35px;
	border: 1px solid #eee;
	border-radius: 20px;
	color: #46A651;
	transition: .2s;
}
.info-right .launch>a:hover {
	text-decoration: none;
	background-color: #46A651;
	color: #fa1c05;
}
.info-right .launch>a>.icon{
	height: 50px;
	width: 50px;
}
.info-right .flow {
	padding: 10px;
}
.info-right .flow>h2 {
	margin-bottom: 20px;
}
.info-right .flow>h2>.icon {
 color: #46A651;
}
.info-right .flow>h2>span {
	font-size: 16px;
	margin-left: 3px;
}
.info-right .flow .flow-item {
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 28px;
	background-color: #eee;
	cursor: pointer;
}
.info-right .flow .flow-item:hover {
	background-color: rgba(24, 148, 221, 0.55);
	color: #20a0ff;
}
.info-right .flow-item>.icon {
	width: 30px;
	height: 25px;
	vertical-align: middle;
	opacity: .7;
}
.info-right .flow-item>b {
	font-size: 12px;
	margin-left: 20px;
	color: #aaa;
}