.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.pro-top {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid green;
}
.pro-top .top-title>a:hover {
  color: #20a0ff;
}
.pro-top .top-title>span {
  font-size: 22px;
}
.pro-main,.pro-body {
  width: 860px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.pro-main .pro-ul>li {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #dfdfdf;
}
.pro-main .pro-ul .pro-li-info{
  margin-left: 20px;
  width: 500px;
}
.pro-main .pro-ul .pro-li-info>a>h3 {
  font-size: 18px;
  font-family: "微软雅黑";
  font-weight: bold;
  margin-bottom: 10px;
  height: 25px;
  line-height: 25px;
}
.pro-main .pro-ul .pro-li-info>span {
  line-height: 30px;
  color: #9b9b9b;
  width: 70px;
  font-size: 14px;
  display: inline-block;
}
.pro-main .pro-li {
  display: flex;
}
.pro-main .pro-info-pic {
  width: 500px;
  height: 280px;
  border-right: 1px #dadada solid;
  border-bottom: 1px #dadada solid;
}
.pro-main .pro-info-pic>img {
  width: 100%;
  height: 100%;
}
.pro-main>ul>li img {
  border: 1px #ececec solid;
  width: 210px;
  height: 125px;
}
.pro-main .pro-li-donate>p{
  height: 30px;
}
.pro-main .pro-state {
  width: 180px;
  color: #9c9a9b;
  line-height: 25px;
  display: block;
}
.pro-main .pro-donate-state {
  line-height: 28px;
  color: #9c9a9b;
}
.pro-main .pro-donate-state>span {
  font-family: Arial, Helvetica, sans-serif;
  color: #f43f00;
  font-weight: bold;
}
.pro-main .pro-li-donate>a {
  font-size: 15px;
  font-weight: 400;
  padding: 10px 12px;
  border-radius: 3px;
  display: block;
  width: 100px;
  background-color: rgb(37, 167, 119);
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-top: 29px;
}
.pro-main .pro-li-donate>a:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(37, 167, 119,.8);
  padding: 10px 12px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.pro-main {
  display: flex;
  min-height: 65vh;
}
.pro-main .pro-info-detail {
  margin-left: 50px;
}
.pro-main .detail-header>p{
  font-size: 20px;
  line-height: 50px;
}
.pro-main .detail-target>p{
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.pro-main .pro-info-detail .detail-target>p,.pro-main .pro-info-detail>p {
  color: rgb(37, 167, 119);
  font-size: 20px;
}
.pro-main .pro-info-detail>p {
  line-height: 45px;
  height: 45px;
}
.main_top_detail_target_time_value {
  font-size: 14px;
  color: #333;
}
.pro-info-button {
  margin-top: 50px;
  display: inline-block;
}
.pro-info-button>a{
  border-radius: 5px;
  padding: 10px 15px;
  background-color: rgb(37, 167, 119);
  color: #fff;
  font-size: 16px;
}
.pro-info-button>a:hover,.pro-info-button>a:focus,.pro-info-button>a:active,.pro-info-button>a:visited {
  color: #fff;
  text-decoration: none;
  background: rgba(37, 167, 119,.8);
  padding: 10px 15px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.donate-count {
  margin-left: 20px;
}
.donate-count>b {
  color: red;
}
.pro-body {
  margin-bottom: 30px;
}
.pro-body .header {
  display: block;
  clear: both;
}
.pro-body .header> li {
  float: left;
  padding: 9px 18px;
  background-color: #d6d6d6;
  color: #3d3d3d;
  font-size: 16px;
  cursor: pointer;
  animation: .3s;
}
.pro-body .header> li:hover {
  position: relative;
  bottom: -1px;
  padding: 4px 18px 10px;
  border-top: 4px solid #41AC04;
  background-color: #fff;
  color: #3d3d3d;
  text-decoration: none;
}
.pro-body .header> .active {
  position: relative;
  bottom: -1px;
  padding: 4px 18px 10px;
  border-top: 4px solid #41AC04;
  background-color: #fff;
  color: #3d3d3d;
  text-decoration: none;
}
.pro-body h4 {
  font-size: 20px;
  background: url(../img/border-bottom.png) no-repeat left bottom;
  padding-bottom: 14px;
  margin-bottom: 17px;
  padding-top: 40px;
  line-height: 1;
}
.pro-body p{
  font-size: 15px;
  color: #666;
  line-height: 1.8;
}
.pro-body .pro-reason-body {
  text-indent: 2em;
}
.pro-body img {
  display: block;
  margin-left: 40px;
}
.pro-body .content .active {
  display: block;
}
.pro-body .content li {
  display: none;
}
.pro-body .content-row {
  line-height: 1.8;
  text-indent: 2em;
}
.pro-body .content-row img {
  margin: 0 2em;
} 
.pro-body .content .bless-content {
  text-indent: 2em;
}
.pro-body .bless-row {
  padding-top: 1em;
  padding-bottom: 1.5em;
  width: 700px;
  border-bottom: 1px solid #ccc;
}
.place-order-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(204, 204, 204, 0.884);
  border: 1px solid #ccc;
  color: black;
  display: none;
}
.jianjie {
  display:inline-block;
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.open {
  display: flex;
}
.place-order {
  border: 1px solid #aaa;
  border-radius: 5px;
  min-width: 300px;
  background-color: #fff;
  box-shadow: 0 0 1em rgba(83, 72, 72, 0.35);
}
.place-order .order-header {
  background-color: #4E931C;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 10px;
}
.place-order .order-header>h1 {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}
.close {
  color: black;
}
.place-order .order-header>a {
  font-size: 14px;
  color: black;
  display: block;
  line-height: 30px;
}
.order-body {
  padding: 5px 10px;
}
.order-body > p {
  display: inline-block;
  font-size: 16px;
}
.order-body > span {
  font-size: 18px;
  color: #4E931C;
}
.order-body>form {
  margin-top: 20px;
}
.order-body>form>label {
  margin-bottom: 20px;
  font-size: 16px;
}
.order-body>form>input {
  width: 80px;
}
.sub-btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #c4c4c4;
  color: #1f2d3d;
  margin: 0;
  padding: 10px 15px;
  border-radius: 4px;
  transition: .3s;
}
.order-body>form>.sub-btn {
  color: #fff;
  font-weight: bolder;
  background-color: #4E931C;
  border-color: #4E931C;
  margin-bottom: 10px;
}
.order-body>form>.sub-btn:hover {
  background: rgb(96, 192, 26);
  border-color: rgb(96, 192, 26);
  color: #fff;
}
.footer {
  background-color: #eee;
}