*{
  box-sizing: border-box;
}
.main {
  height: 80vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
.main .login-card {
  width: 400px;
  border: 1px solid #d1dbe5;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.04);
}
.main .login-card .login-card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 18px 20px;
  border-bottom: 1px solid #d1dbe5;
}
.main .login-card-header>h1{
  font-size: 20px;
}
.main .login-card-header>.link>a {
  color: #20a0ff;
  font-weight: bold;
  margin-left: 5px;
}
.main .login-card-header>.link>a:hover {
  color: #4db3ff;
}
.main .login-card-body{
  min-width: 400px;
  min-height: 250px;
  padding: 20px;
}
.main .login-card-body>form {
  margin-top: 24px;
  margin-right: 64px;
}
.main .login-card-body>form>.item {
  margin-bottom: 30px;
}
.main .login-card-body>form>.item>label {
  width: 6em;
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: #48576a;
  line-height: 1;
  padding: 11px 12px 11px 0;
}
.main .login-card-body>form>.item>input {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #bfcbd9;
  box-sizing: border-box;
  color: #1f2d3d;
  font-size: inherit;
  height: 36px;
  line-height: 1;
  outline: 0;
  padding: 3px 10px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.main .login-card-body .item>.button {
  margin-left: 6em;
}
.main .login-card-body .item>.button>.fo-btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #c4c4c4;
  color: #1f2d3d;
  margin: 0;
  padding: 10px 15px;
  border-radius: 4px;
  transition: .3s;
}
.main .login-card-body .item>.button>.btn-primary {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
  margin-right: 10px;
}
.main .login-card-body .item>.button>.btn-primary:hover {
  background: #4db3ff;
  border-color: #4db3ff;
  color: #fff;
}
.main .login-card-body .item>.button>.btn-default:hover {
  color: #20a0ff;
  border-color: #20a0ff;
}